@page "/"
@using System.Threading.Tasks

<PageTitle>Todo List App</PageTitle>

<MudText Typo="Typo.h2">Add Todo</MudText>
<div class="d-flex gap-3">
    <MudTextField @bind-Value="newTodo" Label="Title" Variant="Variant.Outlined">
    </MudTextField>
    <MudButton OnClick="AddTodo" Variant="Variant.Filled" Color="Color.Primary">Add todo</MudButton>
</div>
<div class="mt-5">
    @if (items != null)
    {
        @foreach (var item in items)
        {
            <TodoItem Item="@item" />
        }

    }
</div>

@code {
    [Inject]
    public ITodoService TodoServ { get; set; } = default!;

    private List<Todo>? items { get; set; }
    private string newTodo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        items = (await TodoServ.getTodos()).ToList();
    }

    private async Task AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            Todo todoAdded = (Todo)await TodoServ.AddTodo(newTodo);
            newTodo = string.Empty;
            items!.Add(todoAdded);
        }
    }
}
