@page "/"
@inject ITodoService TodoServ

<PageTitle>Todo List App</PageTitle>

<MudText Typo="Typo.h2">Add Todo</MudText>
<div class="d-flex gap-3">
    <MudTextField @bind-Value="newTodo" Label="Title" Variant="Variant.Outlined">
    </MudTextField>
    <MudButton OnClick="AddTodo" Variant="Variant.Filled" Color="Color.Primary">Add todo</MudButton>
</div>
<div class="mt-5">
    @foreach (var item in items)
    {
        <TodoItem Item="@item" />
    }
</div>

@code {
    private List<Todo> items = new List<Todo>();
    private string newTodo = string.Empty;

    protected override Task OnInitializedAsync()
    {
        items = TodoServ.getTodos();
        return base.OnInitializedAsync();
    }

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            TodoServ.AddTodo(newTodo);
            newTodo = string.Empty;
        }
    }
}
