@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main>
    <MudContainer>
        <MudText Typo="Typo.h1" Align="Align.Center">Todo List</MudText>
        @Body
    </MudContainer>
</main>